@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Fredoka", sans-serif;
    background: white;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    text-align: center;
    color: black;
}

.header h1 {
    font-size: 2.7rem;
    font-weight: 800;
    margin-bottom: 5px;
}

.last-update {
    color: black;
    font-size: 1.3rem;
    margin-top: 5px;
}

#app-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 450px));
    gap: 25px;
    width: 100%;
    max-width: 1440px;
    justify-content: center;
}

.bus-card {
    background: white;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    padding: 30px;
    padding-top: 15px;
}

.status-badge {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
}

.status-badge.active {
    background: #2ecc71;
    color: white;
}

.status-badge.inactive {
    background: #e74c3c;
    color: white;
}

.status-badge.loading {
    background: #f39c12;
    color: white;
}

.bus-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.bus-line {
    font-size: 3rem;
    font-weight: 800;
    background: linear-gradient(135deg, #667eea, #764ba2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


.bus-info {
    margin-bottom: 25px;
}

.bus-stop {
    font-size: 1rem;
    color: #666;
    display: flex;
    align-items: center;
    gap: 8px;
}

.time-container {
    /* background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
    background: #f0f0f0;
    border-radius: 15px;
    padding: 25px;
    text-align: center;
}

.time-label {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.bus-time {
    font-size: 3rem;
    font-weight: 700;
    color: #2ecc71;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.bus-time.not-found {
    color: #e74c3c;
}

.bus-time.loading {
    color: #f39c12;
    animation: pulse 1.5s ease-in-out infinite;
}

.Credit {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 60px;
    height: 75px;
    flex-direction: column;
}

.Credit img {
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
}

.Credit h5 {
    text-align: center;
    font-size: 15px;
}