#menu ul, li {
	font-size:14px; 
	font-family:Arial, Helvetica, sans-serif;
	line-height:21px;
	text-align:left;
}

#menu {
	list-style: none;
    width: 610px;
    margin: 0px;
    height: 43px;
    padding: 0px 8px 0px 0px;
    position: relative;
    z-index: 40;

	/* Rounded Corners 
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	*/

	/* Background color and gradients */
	
	/*background: #00386F;*/
	/*background: -moz-linear-gradient(top, #0272a7, #013953);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0272a7), to(#013953));
	*/
	/* Borders */
	/*
	border: 1px solid #002232;

	-moz-box-shadow:inset 0px 0px 1px #edf9ff;
	-webkit-box-shadow:inset 0px 0px 1px #edf9ff;
	box-shadow:inset 0px 0px 1px #edf9ff;
	*/
}

#menu li {
	float:left;
	display:block;
	text-align:center;
	position:relative;
	padding: 20px 9px 25px 9px;
	margin-right:3px;
	margin-top:0px;
	border:none;
	height:15px;
}

#menu li:hover {
	/* border: 1px solid #777777;*/
	padding: 20px 8px 25px 8px;
	height: 60px;
	background: rgb(54 80 175);
	
}
#menu li:last-child:hover{
	background:#FF7F00;
	height:15px;
	display:block;
}

#menu li div .menu-iletisim a{
	background-color:none;
	height:50px;
	padding:0px !important;
	margin:0px !important;
	color:rgba(0,0,0,1.00) !important;
}

#menu li a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px; 
	color: #EEEEEE;
	display:block;
	outline:0;
	text-decoration:none;
	/*text-shadow: 1px 1px 1px #000;*/
	height:40px;
}

#menu li .drop {
	padding-right:0px;
}

#menu li:hover .drop {
	margin-top:0px;
	padding-top:0px;
	margin-left:0px;
}

.iletisim, 
.kurumsal, 
.online_islemler, 
.haber_duyuru,
.hizmetlerimiz {

	float:left;
	position:absolute;
	left:-999em; /* Hides the drop down */
	text-align:left;
	padding:10px 5px 10px 5px;
	border: 3px solid rgb(54 80 175);
	-webkit-box-shadow: 1px 2px 2px 1px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    1px 2px 2px 1px rgba(50, 50, 50, 0.75);
	box-shadow:         1px 2px 2px 1px rgba(50, 50, 50, 0.75);

	/* border-top:none; */
	
	/* Gradient background */
	background: rgba(255,255,255,1.00);
	/*
	background: -moz-linear-gradient(top, #EEEEEE, #BBBBBB);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#BBBBBB));
	*/
	/* Rounded Corners */
	-moz-border-radius: 0px 0px 10px 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px;
	
}

.iletisim {width: 240px;} /* İLETİŞİM */
.kurumsal {width: 722px;} /* KURUMSAL */
.online_islemler {width: 630px;} /* ONLINE İŞLEMLER */
.haber_duyuru {width: 595px;} /* HABER / DUYURU */
.hizmetlerimiz {width: 452px;} /* HİZMETLERİMİZ */

#menu li:hover .iletisim{
	left:0px;
	top:auto;
	} 
#menu li:hover .kurumsal{
	left:0px;
	top:auto;
	}
#menu li:hover .online_islemler{
	left:-300px;
	top:auto;
}
#menu li:hover .haber_duyuru{
	left:-220px;
	top:auto;
	height:258px;
}
#menu li:hover .hizmetlerimiz {
	left:-100px;
	top:auto;
}

.col_1,
.col_2,
.col_3,
.col_4,
.col_5 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
}
.col_1 {width:130px;}
.col_2 {width:270px;}
.col_3 {width:410px;}
.col_4 {width:550px;}
.col_5 {width:690px;}

#menu .menu_right {
	float:left;
	/*margin-right:18px;*/
}
#menu li .align_right {
	/* Rounded Corners */
	/*
	-moz-border-radius: 5px 0px 5px 5px;
    -webkit-border-radius: 5px 0px 5px 5px;
    border-radius: 5px 0px 5px 5px;
	*/
}

#menu li:hover .align_right {
	left:auto;
	right:-1px;
	top:auto;
}

#menu p {
	line-height:18px;
	margin:0 0 10px 0;
}

#menu li:hover div a {
	font-size:12px;
	color:#015b86;
}
#menu li:hover div a:hover {
	color:#029feb;
}

.imgshadow { /* Better style on light background */
	background:#FFFFFF;
	padding:4px;
	border:1px solid #777777;
	margin-top:5px;
	-moz-box-shadow:0px 0px 5px #666666;
	-webkit-box-shadow:0px 0px 5px #666666;
	box-shadow:0px 0px 5px #666666;
}

#menu li .black_box {
	background-color:#333333;
	color: #eeeeee;
	/*text-shadow: 1px 1px 1px #000;*/
	padding:4px 6px 4px 6px;

	/* Rounded Corners */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

	/* Shadow */
	-webkit-box-shadow:inset 0 0 3px #000000;
	-moz-box-shadow:inset 0 0 3px #000000;
	box-shadow:inset 0 0 3px #000000;
}

#menu li ul {
	list-style:none;
	padding:0;
	margin:0 0 12px 0;
}
#menu li ul li {
	font-size:12px;
	line-height:24px;
	position:relative;
	/*text-shadow: 1px 1px 1px #ffffff;*/
	padding:0;
	margin:0;
	float:none;
	text-align:left;
	width:130px;
}
#menu li ul li:hover {
	background:none;
	border:none;
	padding:0;
	margin:0;
}

#menu li .greybox li {
	background:#F4F4F4;
	border:1px solid #bbbbbb;
	margin:0px 0px 4px 0px;
	padding:4px 6px 4px 6px;
	width:116px;

	/* Rounded Corners */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
#menu li .greybox li:hover {
	background:#ffffff;
	border:1px solid #aaaaaa;
	padding:4px 6px 4px 6px;
	margin:0px 0px 4px 0px;
}
